@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Caprasimo&family=Playfair+Display&display=swap');



#cursor {
  cursor: url('/public/caret-down.png'), pointer;
}
.header{ 
  position: absolute;
  top: 30%;
  left: 50%;
  width: 90%;
  transform: translate(-48%, -50%);
  font-family: 'Barriecito', cursive;
  font-size: 4em;
  z-index: 1;
  text-align: center;
}

#co {
  text-align: center;
}

#img1 {
height: 30em;
background-image: url('https://i.imgur.com/XUf3PCo.png');
background-repeat: no-repeat;
background-position: 40%;
background-size: cover;
animation-name: animation;
animation-duration: 10s;
animation-iteration-count: infinite;
}

@keyframes animation{
  0%{
    background-image: url(https://i.imgur.com/XUf3PCo.png);
  }
  25%{
    background-image: url(https://i.imgur.com/5p5cIS1.png);
  }
  50%{
    background-image: url(https://i.imgur.com/UseXK61.png);
  }
  75%{
    background-image: url(https://i.imgur.com/DKndxxn.png);
  }
  100%{
    background-image: url(https://i.imgur.com/Cmr6r0T.png);
  }
}

/* //////////////Section one ////////////// */

.sec1 {
  height: 40em;
 
  cursor: default;
}

#about {
  font-family: 'Barriecito', cursive;
  font-size: 3em;
text-align: center;
}

.info1 {
  font-size: 110%;
  font-family: 'Playfair Display', serif;
  margin: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

#photos1 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  height: 15em;
}
#threep{
  width: 50%;
}
#coffee{
  width: 50%;
}

#section { 
  font-size: 110%;
  font-family: 'Playfair Display', serif;
  margin-top: 2em;
  width: 30em;
  padding: 1em;
  margin-left: -.5em;
}


#about1 {
  height: 30em;
  padding: .5em;  
  background-image: url('https://images.pexels.com/photos/1234853/pexels-photo-1234853.jpeg?auto=compress&cs=tinysrgb&w=800');
  background-size: cover;
  background-position: 10%;
}

#buton{
 margin: 1em;
 margin-bottom: 0;
}

#events{
  font-family: 'Barriecito', cursive;
  font-size: 4em;
  text-align: center;
}

#eventcard {
height: 15em;
background-color: #fbfbfb;
}
#title2{
  font-family: 'Playfair Display', serif;
  color: rgb(247, 242, 242);
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.281);
  padding: 1em;
}
#evim1{
width: 100%;
}
#b2{
  margin: 2em;
}

#about2{
  font-family: 'Barriecito', cursive;
  text-align: center;
  margin-top: 1em;
}
#ca{
font-size: 3em;
}

#j1{
  width: 10em;
  border-radius: 90%;
  height: 12em;
  margin-top: 1em;
}
#jess{
  display: flex;
  padding: 1em;
  background-image: url('https://images.pexels.com/photos/1293006/pexels-photo-1293006.jpeg?auto=compress&cs=tinysrgb&w=800');
  color: white;
}
#jab{
  font-family: 'Playfair Display', serif;
}
#m1{
  width: 10em;
  border-radius: 90%;
  height: 12em;
  margin-top: 1em;
}
#milan{
  display: flex;
  padding: 1em;
  background-image: url('https://images.pexels.com/photos/1934846/pexels-photo-1934846.jpeg?auto=compress&cs=tinysrgb&w=800');
margin-top: 1em;
}
#buttons{
  margin: 1em;
}

#about3{
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
#cc{
  font-family: 'Barriecito', cursive;
  font-size: 2.2em;
}
#insta{
  width: 3em;
}
#meet{
  width: 3em;
}